<!DOCTYPE html>

{% load staticfiles %}

<html>
<head>
    <title>Rango</title>
    <!-- CSS -->
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" />
    <!-- JavaScript -->
    <script src="{% static "js/bootstrap.js" %}"></script>
</head>

</head>

    <body>
    <h1>This tutorial has been put together
by <strong>{{ boldmessage }}</strong> </h1>
    </div>
    <div>
        <a href="/rango/">Home</a><br />
        <img src="{% static "images/cosmos.jpg" %}" alt="Picture of Cosmos" />
    </div>

    </body>

</html>